<%- include('layout/header.ejs')%>
<%- include('layout/navigation.ejs')%>
<!--This is a test-->
<ul>
    <li>
        <h3>St. Gerard Highschool</h3>
        <ul>
            <li>Graduated May 2005</li>
        </ul>
    </li>
    <li>
        <h3>St. Philliphs Community College</h3>
        <ul>
            <li>
                Attended: 2004-2006
            </li>
            <li>
                Degree: microcomputer applications.
            </li>
        </ul>
    </li>
    <li>
        <h3>Community College of the Air Force</h3>
        <ul>
            <li>
                Attended: 2006-2018
            </li>
            <li>
                Degree: Applied Science in Aerospace Ground Equipment
            </li>
        </ul>
    </li>
    <li>
        <h3>Trident University</h3>
        <ul>
            Attended: 2017
        </ul>
    </li>
    <li>
        <h3>Texas A&M University - San Antonio</h3>
        <ul>
            <li>
            Attended: 2018-current
            </li>
            <li>
                Degree: BAAS IT Information Assurance & Security
            </li>
            <li>
                Minor: Computer Science
            </li>
        </ul>
    </li>
</ul>

<%- include('layout/footer.ejs')%>