<%- include('layout/header.ejs')%>

<%- include('layout/navigation.ejs')%>
<!--Carousel Wrapper-->
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">

    <li data-target="/img/Cocos.jpg" data-slide-to="1" class="active"></li>
    <li data-target="/img/house view" data-slide-to="2"></li>
    <li data-target="/img/Alonaki Beach" data-slide-to="3"></li>
    <li data-target="/img/cows" data-slide-to="4"></li>
    <li data-target="/img/family" data-slide-to="5"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-50 mx-auto" src="/img/Cocos.jpg"
          alt="Cocos curry LA">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Cocos ichibanya</h3>
        <p>pork cuttlet curry</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-50 mx-auto" src="/img/view from house.jpg"
          alt="Second slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Creete greece</h3>
        <p>Ardoliges vilage</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block w-50 mx-auto" src="/img/Alonaki beach.jpg" alt="Alonaki Beach">
      </div>
      <div class="carousel-caption">
        <p>Watching the sun set at Aloaki Beach</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-50 mx-auto" src="/img/Cows.jpg"
          alt="Third slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Cows</h3>
        <p>some of my cows</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block w-50 mx-auto" src="/img/Cousins.jpg" alt="children of 1987">
        <div class="carousel-caption">
          <h4 class="h4-responsive">Me and my cousins</h4>
        </div>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="Previous" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only deep-purple-text">Previous</span>
  </a>
  <a class="carousel-control-next" href="Next" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only deep-purple">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<div class="container">
  <div class ="row">
    <div class="col">
      <H1 class="white-text">Welcome to my page</H1>
    </div>
    <div class="col">
      <h1 class="white-text">The end of ze world</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <P class="white-text">I am a current student at Texas A&M Univeristy - San Antonio <br>
      I am seeking a BAAS Inforation Technology Information Assurance and security <br>
      with a minor in Computer Science</P>
    </div>
    <div class="col">
      <p></p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/nZMwKPmsbWE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
 <%- include('layout/footer.ejs')%>