<%- include('layout/header.ejs')%>

<%- include('layout/navigation.ejs')%>
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#Coco's" data-slide-to="0" class="active"></li>
    <li data-target="#house view" data-slide-to="1"></li>
    <li data-target="#cows" data-slide-to="2"></li>
    <li data-target="#family" data-slide-to="3"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="/img/Cocos.jpg"
          alt="Cocos curry LA">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Cocos ichibanya</h3>
        <p>pork cuttlet curry, :)</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/img/view from house.jpg"
          alt="Second slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Creete greece</h3>
        <p>Ardoliges vilage</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/img/Cows.jpg"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Cows</h3>
        <p>some of my cows</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block w-100" src="/img/Cousins.jpg" alt="children of 1987">
        <div class="mask rgba-black-slight"></div>
        <div class="carousel-caption">
          <h4 class="h4-responsive">Me and my cousins</h4>
        </div>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only deep-purple">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
 <%- include('layout/footer.ejs')%>