<%- include('layout/header.ejs')%>
<%- include('layout/navigation.ejs')%>
<!-- Grid row -->
<div class="row  d-flex justify-content-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/iLTdN2PnkKs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row  d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-md-10 col-xl-6 py-5">
  
      <!--Accordion wrapper-->
      <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist"
        aria-multiselectable="true">
  
        <!-- Accordion card -->
        <div class="card">
  
          <!-- Card header -->
          <div class="card-header uhh-green z-depth-1 mb-1" role="tab" id="heading1">
            <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true"
              aria-controls="collapse1">
              <h5 class="mb-0 white-text text-uppercase font-thin">
                #1 Lackland/Shepard AFB <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
  
          <!-- Card body -->
          <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1"
            data-parent="#accordionEx7">
            <div class="card-body mb-1 uhh-green-2 white-text">
              <p>
                Lackland AFB provided baisic life skills.
                <br>
                Shepard AFB then provided the training for my specific job.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
  
        <!-- Accordion card -->
        <div class="card">
  
          <!-- Card header -->
          <div class="card-header uhh-green darken-2 z-depth-1 mb-1" role="tab" id="heading2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
              aria-expanded="false" aria-controls="collapse2">
              <h5 class="mb-0 white-text text-uppercase font-thin">
                #2 Dyess AFB <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
  
          <!-- Card body -->
          <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
            data-parent="#accordionEx7">
            <div class="card-body mb-1 uhh-green-2 white-text">
              <p></p>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
  
        <!-- Accordion card -->
        <div class="card">
  
          <!-- Card header -->
          <div class="card-header uhh-green z-depth-1 mb-1" role="tab" id="heading3">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
              aria-expanded="false" aria-controls="collapse3">
              <h5 class="mb-0 white-text text-uppercase font-thin">
                #3 Incrlik Turkey <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
  
          <!-- Card body -->
          <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
            data-parent="#accordionEx7">
            <div class="card-body mb-1 uhh-green-2 white-text">
              <p> <!--enter text here--> </p>
            </div>
          </div>
          <!--card body end-->

        </div>
        <!-- Accordion card end-->
        
        <!-- Accordion card start-->
        <div class="card">
          <!--Card header start-->
          <div class="card-header uhh-green z-depth-1 mb-1" role="tab" id="Heading4">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
              <h5 class="mb-0 white-text text-uppercase font-thin">
                #4 Yokota AB Japan <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
          <!--card header end-->
          
          <!--card body start-->
          <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordianEx7">
            <div class="card-body mb-1 uhh-green-2 white-text">
              <p><!--enter text here--></p>
            </div>
          </div>
          <!--card body end-->
        </div>
        <!-- Accordion card end -->

        <!-- Accordion card start-->
        <div class="card">
          <!--Card header start-->
          <div class="card-header uhh-green z-depth-1 mb-1" role="tab" id="Heading5">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              <h5 class="mb-0 white-text text-uppercase font-thin">
                #5 NSA Souda Bay Greece <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
          <!--card header end-->
                  
          <!--card body start-->
          <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordianEx7">
            <div class="card-body mb-1 uhh-green-2 white-text">
              <p><!--enter text here--></p>
            </div>
          </div>
          <!--card body end-->
        </div>
        <!-- Accordion card end -->

      </div>
      <!--/.Accordion wrapper-->
  
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
 

<%- include('layout/footer.ejs')%>