<%- include('layout/header.ejs')%>

<%- include('layout/navigation.ejs')%>

      <!--Grid column-->
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 400px; "
        src="https://maps.google.com/maps?q=san%20antonio&t=&z=13&ie=UTF8&iwloc=&output=embed">
        </iframe>
        
      </div>
      <!--Grid column-->
      <div class="col-lg-7">
  
        <!--Google map-->

  
        <br>
        <!--Buttons-->
        <div class="row text-center white-text">
          <div class="col-md-4">
            <a class="btn-floating deep-purple-2  accent-1"><i class="fas fa-map-marker-alt"></i></a>
            <p>San Antonio, TX 78237</p>
            <p>United States</p>
          </div>
  
          <div class="col-md-4">
            <a class="btn-floating deep-purple-2  accent-1"><i class="fas fa-phone"></i></a>
            <p>+ 01 234 567 89</p>
            <p>Mon - Fri, 8:00-22:00</p>
          </div>
  
          <div class="col-md-4">
            <a class="btn-floating deep-purple-2  accent-1"><i class="fas fa-envelope"></i></a>
            <p>info@gmail.com</p>
            <p>sale@gmail.com</p>
          </div>
        </div>
  
      </div>
  <%- include('layout/footer.ejs')%>